@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;900&family=Inria+Sans:wght@400;700&display=swap');
// font-family: 'Fira Sans Condensed', sans-serif;
// font-family: 'Inria Sans', sans-serif;
// font-family: 'Livvic', sans-serif;

:root {
    --main-background: #ecf0f1;
    --url-text-background: url('../../assets/images/citybackground.png');
    --background-gradient-2: linear-gradient(90deg, rgba(76, 161, 175, 0.94) 0%, rgba(76, 161, 175, 0.4) 99.03%);
    --shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.25);
    --yellow: rgb(194, 238, 0);
}
html {
    font-size: 62.5%;
    padding: 0;
}
* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inria Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1rem;
    text-rendering: optimizeSpeed;
    margin: 0;
    color: #ffffff;
}
