.wrapper {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 7px;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
    z-index: 10;

    .left {
        padding: 5px 7px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .right {
        padding: 5px 7px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .checked {
        background-color: rgb(76, 161, 175);
    }
    .unchecked {
        background-color: rgba(76, 161, 175, 0.5);
    }
}
